In [1]:
import pandas as pd

In [2]:
nabil =pd.read_csv('Nabil.csv')

In [3]:
length=len(nabil)

In [4]:
training=int(0.8*length)
test=int(length-training)

In [5]:
print(training,test,length)

1793 449 2242

In [6]:
1793+449

2242

In [7]:
training_data=nabil[0:training-1]
test_data=nabil[training:test-1]

In [8]:
training_data

,S.N.,Date,Total Transactions,Total Traded Shares,Total Traded Amount,Max Price,Min. Price,Close Price
0,1,2021-11-25,961,64950,100167376.7,1550.0,1535.0,1538.0
1,2,2021-11-24,808,54975,84660876.9,1550.0,1527.0,1545.0
2,3,2021-11-23,964,62286,95971223.5,1550.0,1532.0,1537.0
3,4,2021-11-22,1007,80745,124845767.5,1554.9,1540.0,1546.0
4,5,2021-11-21,1112,75509,116771963.4,1565.0,1538.0,1544.0
...,...,...,...,...,...,...,...,...
1787,1788,2014-01-05,16,5113,10798683.0,2125.0,2100.0,2100.0
1788,1789,2014-01-02,41,10110,21280226.0,2150.0,2090.0,2125.0
1789,1790,2014-01-01,5,433,931898.0,2180.0,2142.0,2151.0
1790,1791,2013-12-31,19,2064,4556705.0,2250.0,2200.0,2210.0
1791,1792,2013-12-29,22,3809,8532901.0,2275.0,2220.0,2250.0